* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-color: black; */
}

.login {
  background-color: rgb(74, 77, 94);
  width: 80%;
  display: flex;
  justify-items: center;
}

.left {
  width: 50%;
  color: white;
  height: 100%;
  padding: 10%;
}

.right {
  background-color: white;
  width: 50%;
  padding: 5% 10%;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: rgba(159, 156, 156, 0.5);
  border-radius: 10px;
}

input:active {
  border: 1px solid blue;
}
.btn {
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 50px;
  margin: 2px 0 2px 0;
}

.forgot-password {
  float: right;
}

a {
  text-decoration: none;
  color: black;
}

.right .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 2px 0;
  padding: 2px;
}

.right .links i {
  height: 30px;
  width: 30px;
  background-color: wheat;
  border-radius: 50%;
  position: relative;
  border: 1px solid gray;
}

/* styling for the registration page */
.register {
  background-color: white;
  width: 480px;
  display: flex;
  justify-items: center;
  border-radius: 20px;
}

.reg-form {
  width: 100%;
  padding: 10px;
}
.reg-form h3 {
  text-align: center;
}
